.DS_Store
makefile

# test folder (includes recordings and such, this will be stored at the users end locally)
test

# ignoring all executables, not going to clutter this repo
*.out
*.o
*.exe
cliwave
audiotestmakefile
